In [9]:
import pandas as pd
train_df=pd.read_csv(r"../data/train.csv")
test_df=pd.read_csv(r"../data/test.csv")

In [10]:
train_df

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
440828,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
440829,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
440830,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
440831,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
440832,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [11]:
train_df=train_df.dropna()
train_df.isna().sum()

CustomerID           0
Age                  0
Gender               0
Tenure               0
Usage Frequency      0
Support Calls        0
Payment Delay        0
Subscription Type    0
Contract Length      0
Total Spend          0
Last Interaction     0
Churn                0
dtype: int64

In [12]:
train_df=pd.concat([train_df,test_df])
train_df

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
64369,64370.0,45.0,Female,33.0,12.0,6.0,21.0,Basic,Quarterly,947.0,14.0,1.0
64370,64371.0,37.0,Male,6.0,1.0,5.0,22.0,Standard,Annual,923.0,9.0,1.0
64371,64372.0,25.0,Male,39.0,14.0,8.0,30.0,Premium,Monthly,327.0,20.0,1.0
64372,64373.0,50.0,Female,18.0,19.0,7.0,22.0,Standard,Monthly,540.0,13.0,1.0
64373,64374.0,52.0,Female,45.0,15.0,9.0,25.0,Standard,Monthly,696.0,22.0,1.0

In [13]:
train_df.isna().sum()

CustomerID           0
Age                  0
Gender               0
Tenure               0
Usage Frequency      0
Support Calls        0
Payment Delay        0
Subscription Type    0
Contract Length      0
Total Spend          0
Last Interaction     0
Churn                0
dtype: int64

In [14]:
train_df['Gender_coded']=pd.get_dummies(train_df['Gender'],dtype='int',drop_first=True)
train_df=train_df.drop('Gender',axis=1)

In [15]:
train_df.shape

(505206, 12)

In [16]:
train_df

,CustomerID,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn,Gender_coded
0,2.0,30.0,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0,0
1,3.0,65.0,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0,0
2,4.0,55.0,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0,0
3,5.0,58.0,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0,1
4,6.0,23.0,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
64369,64370.0,45.0,33.0,12.0,6.0,21.0,Basic,Quarterly,947.0,14.0,1.0,0
64370,64371.0,37.0,6.0,1.0,5.0,22.0,Standard,Annual,923.0,9.0,1.0,1
64371,64372.0,25.0,39.0,14.0,8.0,30.0,Premium,Monthly,327.0,20.0,1.0,1
64372,64373.0,50.0,18.0,19.0,7.0,22.0,Standard,Monthly,540.0,13.0,1.0,0
64373,64374.0,52.0,45.0,15.0,9.0,25.0,Standard,Monthly,696.0,22.0,1.0,0

In [17]:
one_hot = pd.get_dummies(train_df['Subscription Type'], dtype=int, drop_first=True)
train_df = pd.concat([train_df, one_hot], axis=1)
train_df=train_df.drop('Subscription Type', axis=1)
train_df

,CustomerID,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Contract Length,Total Spend,Last Interaction,Churn,Gender_coded,Premium,Standard
0,2.0,30.0,39.0,14.0,5.0,18.0,Annual,932.0,17.0,1.0,0,0,1
1,3.0,65.0,49.0,1.0,10.0,8.0,Monthly,557.0,6.0,1.0,0,0,0
2,4.0,55.0,14.0,4.0,6.0,18.0,Quarterly,185.0,3.0,1.0,0,0,0
3,5.0,58.0,38.0,21.0,7.0,7.0,Monthly,396.0,29.0,1.0,1,0,1
4,6.0,23.0,32.0,20.0,5.0,8.0,Monthly,617.0,20.0,1.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
64369,64370.0,45.0,33.0,12.0,6.0,21.0,Quarterly,947.0,14.0,1.0,0,0,0
64370,64371.0,37.0,6.0,1.0,5.0,22.0,Annual,923.0,9.0,1.0,1,0,1
64371,64372.0,25.0,39.0,14.0,8.0,30.0,Monthly,327.0,20.0,1.0,1,1,0
64372,64373.0,50.0,18.0,19.0,7.0,22.0,Monthly,540.0,13.0,1.0,0,0,1
64373,64374.0,52.0,45.0,15.0,9.0,25.0,Monthly,696.0,22.0,1.0,0,0,1

In [7]:
# one_hot = pd.get_dummies(test_df['Subscription Type'], dtype=int, drop_first=True)
# test_df = pd.concat([test_df, one_hot], axis=1)
# test_df=test_df.drop('Subscription Type', axis=1)
# test_df

In [18]:
train_df=pd.concat([train_df,pd.get_dummies(train_df['Contract Length'],dtype='int',drop_first=True)],axis=1)
train_df=train_df.drop('Contract Length',axis=1)
train_df

,CustomerID,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Churn,Gender_coded,Premium,Standard,Monthly,Quarterly
0,2.0,30.0,39.0,14.0,5.0,18.0,932.0,17.0,1.0,0,0,1,0,0
1,3.0,65.0,49.0,1.0,10.0,8.0,557.0,6.0,1.0,0,0,0,1,0
2,4.0,55.0,14.0,4.0,6.0,18.0,185.0,3.0,1.0,0,0,0,0,1
3,5.0,58.0,38.0,21.0,7.0,7.0,396.0,29.0,1.0,1,0,1,1,0
4,6.0,23.0,32.0,20.0,5.0,8.0,617.0,20.0,1.0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64369,64370.0,45.0,33.0,12.0,6.0,21.0,947.0,14.0,1.0,0,0,0,0,1
64370,64371.0,37.0,6.0,1.0,5.0,22.0,923.0,9.0,1.0,1,0,1,0,0
64371,64372.0,25.0,39.0,14.0,8.0,30.0,327.0,20.0,1.0,1,1,0,1,0
64372,64373.0,50.0,18.0,19.0,7.0,22.0,540.0,13.0,1.0,0,0,1,1,0
64373,64374.0,52.0,45.0,15.0,9.0,25.0,696.0,22.0,1.0,0,0,1,1,0

In [19]:
# test_df=pd.concat([test_df,pd.get_dummies(test_df['Contract Length'],dtype='int',drop_first=True)],axis=1)
# test_df=test_df.drop('Contract Length',axis=1)
# test_df

In [22]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

In [23]:
scaler = ColumnTransformer(
    transformers=[
        ('age', StandardScaler(), ['Age']),
        ('tenure', MinMaxScaler(), ['Tenure']),
        ('usage', MinMaxScaler(), ['Usage Frequency']),
        ('support', RobustScaler(), ['Support Calls']),
        ('payment', MinMaxScaler(), ['Payment Delay']),
        ('spend', StandardScaler(), ['Total Spend']),
        ('interaction', MinMaxScaler(), ['Last Interaction'])
    ],
    remainder='passthrough' 
)

In [28]:
X=train_df.drop('Churn',axis=1)
y=train_df['Churn']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=41)

In [29]:
(X_train.shape,y_train.shape,X_test.shape,y_test.shape)

((404164, 13), (404164,), (101042, 13), (101042,))

In [31]:
scaled=scaler.fit_transform(X_train)
scaled_X_train=pd.DataFrame(scaled,columns=X_train.columns)
scaled_X_train

,CustomerID,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Gender_coded,Premium,Standard,Monthly,Quarterly
0,-0.133984,0.016949,0.206897,-0.6,0.200000,1.171451,0.379310,374461.0,1.0,1.0,0.0,0.0,0.0
1,-0.922539,0.881356,0.310345,-0.6,0.266667,1.531123,0.137931,353428.0,1.0,0.0,0.0,0.0,0.0
2,1.679693,0.864407,0.620690,-0.4,0.666667,-1.501102,0.241379,150555.0,1.0,1.0,0.0,0.0,1.0
3,0.654571,0.915254,0.689655,0.0,0.366667,0.250016,0.034483,387873.0,0.0,0.0,0.0,0.0,1.0
4,-0.528261,0.644068,0.620690,1.2,0.766667,-1.472570,0.137931,91666.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
404159,-1.316816,0.932203,0.448276,0.6,0.733333,-1.880502,0.482759,258028.0,1.0,0.0,1.0,1.0,0.0
404160,0.418005,0.186441,1.000000,0.8,0.533333,-0.517303,0.172414,222622.0,0.0,1.0,0.0,1.0,0.0
404161,-1.316816,0.898305,0.034483,-0.4,0.466667,0.091701,0.310345,330584.0,1.0,0.0,1.0,0.0,1.0
404162,-1.237961,0.677966,0.620690,-0.2,0.700000,1.295078,0.448276,136343.0,1.0,0.0,0.0,0.0,1.0
404163,0.575716,0.881356,0.137931,0.0,0.066667,1.424045,0.482759,304011.0,1.0,1.0,0.0,0.0,0.0

In [33]:
scaled_test=scaler.transform(X_test)
scaled_X_test=pd.DataFrame(scaled_test,columns=X_test.columns)
scaled_X_test

,CustomerID,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Gender_coded,Premium,Standard,Monthly,Quarterly
0,-1.001394,0.813559,0.034483,-0.4,0.300000,0.016376,0.620690,439212.0,1.0,1.0,0.0,0.0,1.0
1,0.260294,0.423729,0.206897,-0.4,0.133333,1.174264,0.379310,351491.0,1.0,0.0,0.0,0.0,0.0
2,-0.133984,0.474576,0.586207,0.2,0.533333,1.176872,0.793103,225.0,0.0,0.0,1.0,0.0,0.0
3,0.575716,0.864407,0.758621,-0.6,0.566667,-0.185226,0.551724,382658.0,1.0,0.0,1.0,0.0,0.0
4,1.521982,0.559322,0.620690,0.6,0.500000,0.329051,0.965517,109504.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101037,-1.395672,0.338983,0.448276,-0.4,0.100000,-0.439532,0.448276,332132.0,1.0,0.0,1.0,0.0,0.0
101038,1.837404,0.661017,0.551724,0.0,0.466667,0.296442,0.310345,29537.0,1.0,0.0,1.0,0.0,1.0
101039,-0.528261,0.016949,0.517241,-0.2,0.300000,0.937811,0.620690,213910.0,0.0,0.0,1.0,0.0,1.0
101040,-0.055128,0.355932,0.482759,0.8,0.200000,0.337203,0.965517,195701.0,1.0,1.0,0.0,1.0,0.0
101041,-0.764828,0.796610,0.241379,0.6,0.133333,-1.741590,0.620690,179380.0,0.0,1.0,0.0,0.0,0.0

In [34]:
# X_train=scaled_train_df.drop('Churn',axis=1)
# y_train=scaled_train_df['Churn']

# X_test=scaled_test_df.drop('Churn',axis=1)
# y_test=scaled_test_df['Churn']

In [35]:
from sklearn.linear_model import LogisticRegression, RidgeClassifier, LassoCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score,precision_score,recall_score

classification_models = {
    "Logistic Regression": LogisticRegression(),
    "Ridge Classifier": RidgeClassifier(),
    "K-Neighbors Classifier": KNeighborsClassifier(),
    "Decision Tree Classifier": DecisionTreeClassifier(),  
    "Random Forest Classifier": RandomForestClassifier(),
    "SVM Classifier": LinearSVC(max_iter=10000),
    "XGBClassifier": XGBClassifier(use_label_encoder=False, eval_metric='logloss'),
    "CatBoost Classifier": CatBoostClassifier(verbose=False),
    "AdaBoost Classifier": AdaBoostClassifier(),
    "Gradient Boosting Classifier": GradientBoostingClassifier(),
    
}

In [36]:
results = {}

for name, model in classification_models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    results[name] = {
        "Accuracy": accuracy_score(y_test, y_pred),
        "Precision": precision_score(y_test, y_pred, average='weighted'),
        "Recall": recall_score(y_test, y_pred, average='weighted')
    }
    print(f"Metrics for {name}:")
    print(f"  Accuracy : {results[name]['Accuracy']:.4f}")
    print(f"  Precision: {results[name]['Precision']:.4f}")
    print(f"  Recall   : {results[name]['Recall']:.4f}")
    print("-" * 40)

c:\Users\chinn\anaconda3\envs\venv\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Metrics for Logistic Regression:
  Accuracy : 0.8600
  Precision: 0.8598
  Recall   : 0.8600
----------------------------------------
Metrics for Ridge Classifier:
  Accuracy : 0.8863
  Precision: 0.8867
  Recall   : 0.8863
----------------------------------------
Metrics for K-Neighbors Classifier:
  Accuracy : 0.9154
  Precision: 0.9156
  Recall   : 0.9154
----------------------------------------
Metrics for Decision Tree Classifier:
  Accuracy : 0.9349
  Precision: 0.9350
  Recall   : 0.9349
----------------------------------------
Metrics for Random Forest Classifier:
  Accuracy : 0.9366
  Precision: 0.9367
  Recall   : 0.9366
----------------------------------------
Metrics for SVM Classifier:
  Accuracy : 0.8628
  Precision: 0.8626
  Recall   : 0.8628
----------------------------------------

c:\Users\chinn\anaconda3\envs\venv\Lib\site-packages\xgboost\training.py:183: UserWarning: [08:52:51] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

Metrics for XGBClassifier:
  Accuracy : 0.9355
  Precision: 0.9355
  Recall   : 0.9355
----------------------------------------
Metrics for CatBoost Classifier:
  Accuracy : 0.9354
  Precision: 0.9354
  Recall   : 0.9354
----------------------------------------
Metrics for AdaBoost Classifier:
  Accuracy : 0.9315
  Precision: 0.9317
  Recall   : 0.9315
----------------------------------------
Metrics for Gradient Boosting Classifier:
  Accuracy : 0.9320
  Precision: 0.9325
  Recall   : 0.9320
----------------------------------------